* {
  /* font-family: DejaVu Sans Nerd Font; */
  font-family: SauceCodePro NF;
  font-size: 12px;
}

window#waybar {
  background: #292b2e;
  color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
  color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
  color: #292b2e;
  background: #1a1a1a;
}

#custom-notification,
#custom-system-upgrades,
#idle_inhibitor,
#workspaces,
#mode,
#window,
#clock,
#privacy,
#backlight,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
  background: #1a1a1a;
}

#idle_inhibitor {
  padding: 0 7px 0 2px;
}

#idle_inhibitor.activated {
  color: #292b2e;
  background: #fdf6e3;
}

#workspaces button {
  padding: 0 2px;
  color: #fdf6e3;
}
#workspaces button.focused {
  color: #268bd2;
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: #1a1a1a;
  border: #1a1a1a;
}

#pulseaudio {
  color: #268bd2;
}
#memory {
  color: #2aa198;
}
#cpu {
  color: #6c71c4;
}
#battery {
  color: #859900;
}
#battery.warning.discharging {
  background: orange;
  color: black;
}
#battery.critical.discharging {
  background: red;
  color: black;
}
#disk {
  color: #b58900;
}

#custom-system-upgrades,
#mode,
#window,
#clock,
#backlight,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
  padding: 0 10px;
}

#custom-notification,
#tray {
  padding: 0 5px;
}

#custom-notification {
  font-size: 98%;
}
